<% meta_title t('login') + ' :: ' + t('site_name') %>
<% meta_description t('login') %>

<div class="form-wrapper">
  <%= form_for :user,
               url: login_path,
               html: {
                       id: 'new-session',
                       class: 'pure-form pure-form-stacked'} do |f| %>
      <%= hidden_field_tag 'target', target %>
      <fieldset>
        <%= f.label User.human_attribute_name('email') %>
        <%= f.text_field :email, {type: 'email',
                                  class: 'input-big'} %>

        <%= f.label User.human_attribute_name('password') %>
        <%= f.password_field :password, {class: 'input-big'} %>
      </fieldset>

      <%= submit_tag t('login'), class: 'ladda-button' %>
  <% end %>

  <%= content_tag 'div', id: 'sign_up_by_provider_path',
                  data: {url: sign_up_by_provider_path} do %>
  <% end %>

  <div class="form-by-providers">
    <%= button_tag t('login_with_facebook'),
                   {id: 'sign-up-with-facebook-button',
                    class: 'ladda-button',
                    data: {style: 'expand-right'}} %>
  </div>

  <%= form_tag reset_password_path,
               {id: 'reset-password',
                class: 'pure-form pure-form-stacked'} do %>
      <legend><%= t('reset_password') %></legend>
      <fieldset>
        <%= label_tag :email, User.human_attribute_name('email') %>
        <%= text_field_tag :email, '', {type: 'email',
                                        class: 'input-big'} %>
      </fieldset>

      <%= button_tag t('reset_password'),
                     {id: 'reset-password-button',
                      class: 'ladda-button',
                      data: {style: 'expand-right'}} %>
  <% end %>
</div>
