<% admin_title(Program.model_name.human) %>
<% admin_subtitle(t('list')) %>

<div class="new-entry-wrapper">
  <%= link_to t('add_new_program'), new_admin_program_path, {class: 'pure-button'} %>
</div>

<table class="pure-table">
  <thead>
  <tr>
    <th>#</th>
    <th><%= Program.human_attribute_name('name') %></th>
    <th><%= Category.model_name.human %></th>
    <th><%= t('manage') %></th>
  </tr>
  </thead>

  <tbody>
  <% @programs.each do |program| %>
      <tr>
        <td><%= program.id %></td>
        <td><%= program.name %></td>
        <td><%= program.category.name %></td>
        <td>
          <%= link_to t('update'),
                      edit_admin_program_path(program.id),
                      {class: 'pure-button'} %>
          <%= form_tag admin_program_path(program.id),
                       {method: 'delete',
                        class: 'inline-form'} do %>
              <%= submit_tag t('delete'), {class: 'pure-button'} %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
