<%= link_to 'New', admin_programs_new_path, {class: 'pure-button'} %>

<table class="pure-table">
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @programs.each do |program| %>
      <tr>
        <td><%= program.id %></td>
        <td><%= link_to program.name, admin_edit_program_path(program.id) %></td>
        <td>
          <%= form_tag admin_delete_program_path(program.id), {method: 'delete'} do %>
              <%= submit_tag 'Delete', {class: 'pure-button'} %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
