<% admin_title(t('users')) %>
<% admin_subtitle(t(action)) %>

<%= form_for @user,
             url: {action: action},
             html: {class: 'pure-form pure-form-stacked'} do |f| %>
    <fieldset>
      <%= f.hidden_field :id %>

      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-3">
          <%= User.human_attribute_name('name') %>: <%= f.text_field :name %>
        </div>
        <div class="pure-u-1 pure-u-md-1-3">
          <%= User.human_attribute_name('email') %>: <%= f.text_field :email %>
        </div>
        <div class="pure-u-1 pure-u-md-1-3">
          <%= User.human_attribute_name('password') %>: <%= password_field_tag :password %>
        </div>
        <div class="pure-u-1">
          <label class="pure-checkbox">
            <%= f.check_box :is_admin, {}, 'true', 'false' %> <%= User.human_attribute_name('is_admin') %>
          </label>
        </div>

        <div class="pure-u-1">
          <div class="pure-u-1 pure-u-md-1-3">
            <label class="pure-checkbox">
              <%= f.check_box :is_teacher, {}, 'true', 'false' %> <%= User.human_attribute_name('is_teacher') %>
            </label>
          </div>

          <div class="pure-u-1 pure-u-md-1-3">
            <%= Teacher.human_attribute_name('description') %>:
            <%= text_area_tag :teacher_description,
                              !@user.nil? && !@user.teacher.nil? ? @user.teacher.description: '' %>
          </div>
        </div>

        <div class="pure-u-1">
          <div class="pure-u-1 pure-u-md-1-3">
            <label class="pure-checkbox">
              <%= f.check_box :is_student, {}, 'true', 'false' %> <%= User.human_attribute_name('is_student') %>
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <%= submit_tag t('submit'), class: 'pure-button pure-button-primary' %>
<% end %>
