<% meta_title t('sign_up') + ' :: ' + t('site_name') %>
<% meta_description t('sign_up') %>

<div class="form-wrapper">
  <%= form_for :user,
               url: users_path,
               html: {id: 'new-user',
                      class: 'pure-form pure-form-stacked'} do |f| %>
      <fieldset>
        <%= f.label :email, User.human_attribute_name('email') %>
        <%= f.text_field :email, {type: 'email',
                                  class: 'input-big'} %>

        <%= f.label :password, User.human_attribute_name('password') %>
        <%= f.password_field :password, {class: 'input-big'} %>

        <%= f.label :name, User.human_attribute_name('name') %>
        <%= f.text_field :name, {class: 'input-big'} %>

        <label for="user_terms" class="pure-checkbox">
          <%= f.check_box :terms, {}, true, false %>
          <%= t('agree_on_terms') %>
        </label>
      </fieldset>

      <%= button_tag t('sign_up'),
                     {id: 'submit-button',
                      class: 'ladda-button',
                      data: {style: 'expand-right'}} %>
  <% end %>

  <%= content_tag 'div', id: 'sign_up_by_provider_path',
                  data: {url: sign_up_by_provider_path} do %>
  <% end %>

  <div class="form-by-providers">
    <%= button_tag t('sign_up_with_facebook'),
                   {id: 'sign-up-with-facebook-button',
                    class: 'ladda-button',
                    data: {style: 'expand-right'}} %>
  </div>

  <%= form_tag reset_password_path,
               {id: 'reset-password',
                class: 'pure-form pure-form-stacked'} do %>
      <legend><%= t('reset_password') %></legend>
      <fieldset>
        <%= label_tag :email, User.human_attribute_name('email') %>
        <%= text_field_tag :email, '', {type: 'email',
                                        class: 'input-big'} %>
      </fieldset>

      <%= button_tag t('reset_password'),
                     {id: 'reset-password-button',
                      class: 'ladda-button',
                      data: {style: 'expand-right'}} %>
  <% end %>
</div>
