<h1><%= @user.name %></h1>

<h2><%= t('courses_registered') %></h2>
<ul>
  <% unless @user.student.nil? %>
      <% @user.student.registrations.each do |registration| %>
          <%= registration.course_schedule.course.name %>

          <% if !current_user.nil? && current_user.id === @user.id %>
              <%= form_tag course_registration_path(
                                   registration.course_schedule.course_id,
                                   registration.id),
                           class: 'pure-form', method: 'delete' do %>
                  <%= submit_tag t('cancel_registration'),
                                 class: 'button-warning pure-button' %>
              <% end %>
          <% end %>
      <% end %>
  <% end %>
</ul>

<h2><%= t('courses_completed') %></h2>
<ul>
  <!-- TODO: Implement this. -->
</ul>
