<h1><%= @user.name %></h1>

<h2><%= t('courses_registered') %></h2>
<ul>
  <% unless @user.student.nil? %>
      <% @user.student.registrations.each do |registration| %>
          <%= registration.course_schedule.course.name %>

          <% if !current_user.nil? && current_user.id === @user.id %>
              <%= form_tag course_registration_path(
                                   registration.course_schedule.course_id,
                                   registration.id),
                           class: 'pure-form', method: 'delete' do %>
                  <%= submit_tag t('cancel_registration'),
                                 class: 'button-warning pure-button' %>
              <% end %>
          <% end %>
      <% end %>
  <% end %>
</ul>

<h2><%= t('courses_completed') %></h2>
<ul>
  <!-- TODO: Implement this. -->
</ul>

<h2><%= Payment.model_name.human %></h2>
<ul>
  <% unless @user.payments.nil? %>
      <% @user.payments.each do |payment| %>
          <li>
            <%= Payment.human_attribute_name('point') %> : <%= payment.point %>
            <%= Payment.human_attribute_name('amount') %> : <%= payment.amount %>
            <%= PaymentState.model_name.human %> : <%= payment.payment_state.name %>
          </li>
      <% end %>
  <% end %>
</ul>

<% if !current_user.nil? && @user.id === current_user.id %>
    <%= content_tag 'div', id: 'locales_warning',
                    data: {title: t('warning'),
                           text: t('ask_sign_out'),
                           confirmButtonText: t('confirm'),
                           cancleButtonText: t('cancel')} do %>
    <% end %>
    <%= content_tag 'div', id: 'sign_up_by_provider_path',
                    data: {url: sign_up_by_provider_path} do %>
    <% end %>
    <%= content_tag 'div', id: 'sign_up_by_provider_path',
                    data: {url: sign_up_by_provider_path} do %>
    <% end %>
    <%= content_tag 'div', id: 'sign_up_by_provider_path',
                    data: {url: sign_up_by_provider_path} do %>
    <% end %>
    <%= form_tag user_path(current_user.id),
                 {id: 'sign-out',
                  class: 'pure-form',
                  method: 'delete'} do %>
        <%= hidden_field_tag :user_id, current_user.id %>
        <%= button_tag t('sign_out'),
                       {id: 'sign-out-button',
                        class: 'ladda-button',
                        'data-style' => 'expand-right'} %>
    <% end %>
<% end %>