<div class="card">
  <a href="<%= course_path course.id %>">
    <%= image_tag course.thumbnail, class: 'card-thumbnail' %>
  </a>

  <div class="contents">
    <div class="course-header"><h6><a href="<%= course_path course.id %>"><%= course.title %></a></h6></div>
    <div>
      <div class="course-author">
        <%= course.teacher.name %>
      </div>
      <div class="course-date"><%= course.date %></div>
      <div class="course-subtitle"><%= course.summary %></div>
    </div>
    <div class="course-price">₩<%= course.sale_price %></div>
    <div class="course-price original">₩<span class="line-through"><%= course.original_price %></span> →</div>
    <div class="course-category">
      <% course.categories.each do |category| %>
          <%= category.name %>
      <% end %>
    </div>
  </div>
</div>
