<div class="form-wrapper">
  <%= form_tag payments_path,
               {id: 'new-payment',
                class: 'pure-form pure-form-stacked'} do %>
      <% pricings.each do |pricing| %>
          <label for="pricing_<%= pricing.id.to_s %>" class="pure-radio">
            <%= radio_button_tag :pricing, pricing.id %>
            <%= t('number_of_courses') % [pricing.point] %> <%= pricing.price %> -> <%= pricing.discount_price %>
          </label>
      <% end %>
      <%= button_tag(t('submit'),
                     {id: 'new-payment-button',
                      class: 'ladda-button',
                      data: {style: 'expand-right'}}) %>
  <% end %>
</div>
