<% admin_title(Category.model_name.human) %>
<% admin_subtitle(t('list')) %>

<div class="new-entry-wrapper">
  <%= link_to t('add_new_category'), new_admin_category_path, {class: 'pure-button'} %>
</div>

<table class="pure-table">
  <thead>
  <tr>
    <th>#</th>
    <th><%= Category.human_attribute_name('name') %></th>
    <th><%= t('manage') %></th>
  </tr>
  </thead>

  <tbody>
  <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td><%= category.name %></td>
        <td>
          <%= link_to t('update'), admin_category_path(category.id),
                      {class: 'pure-button'} %>
          <%= form_tag admin_category_path(category.id),
                       {method: 'delete', class: 'inline-form'} do %>
              <%= submit_tag t('delete'), {class: 'pure-button'} %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
