<% meta_title @course.title %>
<% meta_description @course.summary %>

<div class="course-wrapper">
  <div id="course" class="course">
    <div id="course-content" class="course-content">
      <h2><%= @course.title %></h2>
      <div class="course-detail">
        <%= @course.detail.html_safe %>
      </div>
      <div class="course-social-share">
        <%= image_tag('facebook.png', :id => 'share-fb') %>
        <%= image_tag('twitter.png', :id => 'share-tw') %>
      </div>
      <div class="course-author">
        <% @course.teacher.name %>
      </div>
    </div>
    <div id="course-sidebar" class="course-sidebar">
      <div class="course-sidebar-item">
        <div class="course-sidebar-item-title">
          <i class="fa fa-university"></i> 등록현황
        </div>
        <div class="course-sidebar-item-info">
          <%= @course.students_enrolled %> / <%= @course.max_students %>
        </div>
      </div>
      <div class="course-sidebar-item">
        <div class="course-sidebar-item-title">
          <i class="fa fa-calendar"></i> 날짜
        </div>
        <div class="course-sidebar-item-info">
          <%= @course.date %>
        </div>
      </div>
      <div class="course-sidebar-item">
        <div class="course-sidebar-item-title">
          <i class="fa fa-clock-o"></i> 강연시간
        </div>
        <div class="course-sidebar-item-info">
          <%= @course.duration %>시간
        </div>
      </div>
      <div class="course-sidebar-item">
        <div class="course-sidebar-item-title">
          <i class="fa fa-map-marker"></i> 장소
        </div>
        <div class="course-sidebar-item-info">
          <%= @course.location %>
        </div>
      </div>
      <div class="course-sidebar-item">
        <div class="course-sidebar-item-title">
          <i class="fa fa-user"></i> 인원
        </div>
        <div class="course-sidebar-item-info">
          <select id="course-users">
            <% (1..10).each do |i| %>
                <option value="<%= i %>"><%= i %>명</option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="course-sidebar-item">
        <div class="course-sidebar-item-title">
          <i class="fa fa-money"></i> 수강료
        </div>
        <div class="course-sidebar-item-info">
          ₩ <span id="original-price"><%= @course.sale_price %></span>
        </div>
      </div>
      <div class="course-sidebar-item text-align-center">
        <% if @course.is_full %>
            <%= link_to t('courses_closed'), '#',
                        class: 'ladda-button',
                        disabled: true %>
            <!-- TODO: Update -->
            <% if false %>
                <% registration = nil %>
                <% if registration.nil? %>
                    <% if current_user.nil? %>
                        <%= link_to t('register_course'),
                                    login_path(target: course_path(@course)),
                                    class: 'ladda-button',
                                    data: {color: 'green'} %>
                    <% elsif current_user.credit > 0 %>
                        <%= form_tag course_registrations_path(@course) do %>
                            <%= submit_tag t('register_course'),
                                           class: 'ladda-button',
                                           data: {color: 'green'} %>
                        <% end %>
                    <% else %>
                        <%= link_to t('register_course'), new_payment_path,
                                    class: 'ladda-button',
                                    data: {color: 'green'} %>
                    <% end %>
                <% else %>
                    <%= form_tag course_registration_path(@course, registration),
                                 method: 'delete' do %>
                        <%= submit_tag t('cancel_registration'),
                                       class: 'ladda-button' %>
                    <% end %>
                <% end %>
            <% end %>
        <% elsif @course.is_past %>
            <%= link_to t('courses_closed'), '#',
                        class: 'ladda-button',
                        disabled: true %>
        <% else %>
            <%= link_to t('register_course'),
                        login_path(target: course_path(@course)),
                        class: 'ladda-button',
                        data: {color: 'green'} %>
        <% end %>
      </div>
    </div>
  </div>
</div>