<% meta_title @course.name %>
<% meta_description @course.detail %>

<div class="course-wrapper">
  <div id="course" class="course">
    <div id="course-content" class="course-content">
      <h2><%= @course.name %></h2>
      <div class="course-detail">
        <%= @course.detail.html_safe %>
      </div>
      <div class="course-social-share">
        <%= image_tag('facebook.png', :id => 'share-fb') %>
        <%= image_tag('twitter.png', :id => 'share-tw') %>
      </div>
      <div class="course-author">
        <% @course.teachers.each do |teacher| %>
            <%= render partial: 'users/profile', locals: {user: teacher.user} %>
        <% end %>
      </div>
    </div>
    <div id="course-sidebar" class="course-sidebar">
      <div class="course-sidebar-item">
        <div class="course-sidebar-item-title">
          <i class="fa fa-university"></i> 등록현황
        </div>
        <div class="course-sidebar-item-info">
          1 / 10
        </div>
      </div>
      <div class="course-sidebar-item">
        <div class="course-sidebar-item-title">
          <i class="fa fa-calendar"></i> 날짜
        </div>
        <div class="course-sidebar-item-info">
          2016.04.03 PM 2:00
        </div>
      </div>
      <div class="course-sidebar-item">
        <div class="course-sidebar-item-title">
          <i class="fa fa-clock-o"></i> 강연시간
        </div>
        <div class="course-sidebar-item-info">
          2시간
        </div>
      </div>
      <div class="course-sidebar-item">
        <div class="course-sidebar-item-title">
          <i class="fa fa-map-marker"></i> 장소
        </div>
        <div class="course-sidebar-item-info">
          강남토즈타워점 2층 (약도)
        </div>
      </div>
      <div class="course-sidebar-item">
        <div class="course-sidebar-item-title">
          <i class="fa fa-user"></i> 인원
        </div>
        <div class="course-sidebar-item-info">
          <select id="course-users">
            <% (1..10).each do |i| %>
                <option value="<%= i %>"><%= i %>명</option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="course-sidebar-item">
        <div class="course-sidebar-item-title">
          <i class="fa fa-money"></i> 수강료
        </div>
        <div class="course-sidebar-item-info">
          ₩ <span id="original-price">120,600</span>
        </div>
      </div>
      <div class="course-sidebar-item text-align-center">
        <% if is_course_open %>
            <% if registration.nil? %>
                <% if current_user.nil? %>
                    <%= link_to t('register_course'),
                                login_path(target: course_path(@course)),
                                class: 'ladda-button',
                                data: {color: 'green'} %>
                <% elsif current_user.credit > 0 %>
                    <%= form_tag course_registrations_path(@course) do %>
                        <%= submit_tag t('register_course'),
                                       class: 'ladda-button',
                                       data: {color: 'green'} %>
                    <% end %>
                <% else %>
                    <%= link_to t('register_course'), new_payment_path,
                                class: 'ladda-button',
                                data: {color: 'green'} %>
                <% end %>
            <% else %>
                <%= form_tag course_registration_path(@course, registration),
                             method: 'delete' do %>
                    <%= submit_tag t('cancel_registration'),
                                   class: 'ladda-button' %>
                <% end %>
            <% end %>
        <% else %>
            <%= link_to t('courses_closed'), '#',
                        class: 'ladda-button',
                        disabled: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>