<% admin_title(Course.model_name.human) %>
<% admin_subtitle(t('list')) %>

<div class="new-entry-wrapper">
  <%= link_to t('add_new_course'), new_admin_course_path, {class: 'pure-button'} %>
</div>

<table class="pure-table">
  <thead>
  <tr>
    <th>#</th>
    <th><%= Course.human_attribute_name('name') %></th>
    <th><%= Teacher.model_name.human %></th>
    <th><%= Category.model_name.human %></th>
    <th><%= t('manage') %></th>
  </tr>
  </thead>

  <tbody>
  <% @courses.each do |course| %>
      <tr>
        <td><%= course.id %></td>
        <td><%= course.title %></td>
        <td><%= course.teacher.name %></td>
        <td>
          <% course.categories.each do |category| %>
              <%= category.name %>
          <% end %>
        </td>
        <td>
          <%= link_to t('update'),
                      edit_admin_course_path(course.id),
                      {class: 'pure-button'} %>
          <%= form_tag admin_course_path(course.id),
                       {method: 'delete',
                        class: 'inline-form'} do %>
              <%= submit_tag t('delete'), {class: 'pure-button'} %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
