<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= t('site_name') %></title>
  <%= stylesheet_link_tag 'application',
                          media: 'all',
                          'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application',
                             'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <!-- Add "slideRight" class to items that move right when viewing Nav Drawer -->
  <header class="slide">
    <div class="header-contents">
      <!-- Add "slideRight" class to items that move right when viewing Nav Drawer -->
      <ul id="navToggle" class="burger slide">
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <h1><%= link_to t('site_name'), root_path %></h1>
    </div>
  </header>

  <nav class="slide">
    <ul>
      <li><%= link_to t('main'), root_path %></li>
      <li><%= link_to t('all_courses'), courses_path %></li>
      <li><%= link_to t('new_payments'), new_payment_path %></li>
      <% if current_user %>
          <% if is_admin %>
              <li><%= link_to t('admin'), admin_path %></li>
          <% end %>
          <li>
            <%= link_to t('signed_in_as') % [current_user.name],
                        user_path(current_user.id) %>
          </li>
          <li><%= link_to t('logout'), logout_path %></li>
      <% else %>
          <li><%= link_to t('sign_up'), sign_up_path %></li>
          <li><%= link_to t('login'), login_path %></li>
      <% end %>
    </ul>
  </nav>

  <!-- Add "slideRight" class to items that move right when viewing Nav Drawer -->
  <div class="content slide">
    <% if @is_banner_visible %>
        <div class="banner" style="background-image: url('<%= content_for?(:thumbnail_url) ?
        content_for(:thumbnail_url) : 'https://upload.wikimedia.org/wikipedia/commons/3/34/Math_lecture_at_TKK.JPG' %>')">
          <%= content_for :banner %>
        </div>
    <% end %>
    <div class="body-section">
      <%= yield %>
    </div>
    <div class="footer-wrapper">
      <div class="footer">
        <p>
          <span class="logo"><%= t('site_name') %></span> <%= t('copyright') %>
        </p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
