<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= t('site_name') %></title>
  <link rel="stylesheet"
        href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet"
        href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <%= stylesheet_link_tag 'application',
                          media: 'all',
                          'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application',
                             'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="pure-menu pure-menu-horizontal">
  <a href="<%= root_path %>" class="pure-menu-heading">
    <%= image_tag 'logo.png', {:class => 'logo'} %>
  </a>
  <ul class="pure-menu-list custom-pure-menu-list">
    <li class="pure-menu-item pure-menu-selected">
      <%= link_to t('main'), root_path,
                  {class: 'pure-menu-link'} %>
    </li>
    <li class="pure-menu-item">
      <%= link_to t('all_courses'), courses_path,
                  {class: 'pure-menu-link'} %>
    </li>
    <% if current_user %>
        <% if is_admin %>
            <li class="pure-menu-item float-right">
              <%= link_to t('admin'), admin_path,
                          {:class => 'pure-menu-link'} %>
            </li>
        <% end %>
        <li class="pure-menu-item float-right">
          <%= link_to t('signed_in_as') % [current_user.name],
                      user_path(current_user.id),
                      {:class => 'pure-menu-link'} %>
        </li>
        <li class="pure-menu-item float-right">
          <%= link_to t('logout'), logout_path,
                      {:class => 'pure-menu-link'} %>
        </li>
    <% else %>
        <li class="pure-menu-item float-right">
          <%= link_to t('sign_up'), sign_up_path,
                      {:class => 'pure-menu-link'} %>
        </li>
        <li class="pure-menu-item float-right">
          <%= link_to t('login'), login_path,
                      {:class => 'pure-menu-link'} %>
        </li>
    <% end %>
  </ul>
</div>

<% if @is_banner_visible %>
    <div class="banner" style="background: transparent url('<%= content_for?(:thumbnail_url) ? content_for(:thumbnail_url) : 'http://24.media.tumblr.com/ccb268832580ac12951828a1c179de69/tumblr_mo2xbk8JUK1st5lhmo1_1280.jpg' %>') 0 0 no-repeat fixed;
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='<%= content_for?(:thumbnail_url) || 'http://24.media.tumblr.com/ccb268832580ac12951828a1c179de69/tumblr_mo2xbk8JUK1st5lhmo1_1280.jpg' %>', sizingMethod='scale');">
      <%= content_for :banner %>
    </div>
<% end %>

<div class="l-content">
  <%= yield %>
</div>
<!-- end l-content -->

<div class="footer l-box">
  <p>
    <%= t('site_name') %> <%= t('copyright') %>
  </p>
</div>

</body>
</html>
